<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script src="\js\angular.min.js"></script>
    <script src="Json\Sample.json"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />

</head>
<body ng-app="myapp_forgotpassword" ng-controller="myctrl_forgotpassword">


    <form name="forgotpassword" novalidate="novalidate">
        <label for="email">Enter UserName </label>
        <input type="text" name="username" ng-model="username" required="required" id="username" />
      <!--  <div ng-repeat="x in mydata">

            <span ng-show="((email!==x.email && forgotpassword.email.$touched)||(email!==x.username && forgotpassword.email.$touched))"> invalid username </span>
            <span ng-show="x.email">wrong email</span>
            <span ng-show="x.username">wrong name</span>
        </div> -->
        <button type="submit" onclick="javascript: return ValidateUsername();" ng-click="validateuser()"> submit  </button>
        <span ng-bind="message"></span>
     
    </form>

    <script>

        var app = angular.module("myapp_forgotpassword", []);
        app.controller("myapp_forgotpassword", function ($scope, $http) {
            
            
            $http.get('Json/Sample.json').then(function (response) {

                $scope.usersinfo = response.data.users;
                $scope.validateUser = function () {

                    var x = angular.element(document.getElementById("username"));
                    $scope.username = x.val();
                    $scope.message = '';
                    var isFound = false;
                    angular.forEach($scope.usersinfo, function (value, key) {
                        if (angular.equals(value.username, $scope.username)) {
                            isFound = true;
                        }
                    });
                    if (isFound == false) {
                       alert("Username doesnot exists");
                    }
                }

                



            });
    




    });
            

    


    </script>


</body>
</html>
