extends layout

block content
  h1= title
  p Welcome to #{title}
  p Here we will populate the list of influencers. Just for debugging purpose
  p Count of influencers is #{followercount}
  p Doing something dastardly #{wholedata.categoryName}
