<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/Style5.css" />
    <script src="js/angular.min.js"></script>
    <script src="js/countries.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
</head>
<body ng-app="appProfile" ng-controller="ctrlProfile">
    <script src="js/angular-datepicker.js"></script>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/Statusphere-logo.png" style="width:100%;" />
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <a href="#"> Contact</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title"> Personal Info </h1>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="theForm" ng-submit="theForm.$valid && form.submit()" novalidate="novalidate">
                        <div class="form-group required">
                            <label for="firstname" class="control-label col-md-3">  First Name </label>
                            <div class="col-md-7">
                                <input class="form-control" id="firstname" ng-model="form.fn" name="firstname" placeholder="Firstname" required="required" type="text" />
                                <span class="help-block" ng-show="theForm.firstname.$error.required && theForm.$submitted" style="color:red;"> First name is required</span>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="lastname" class="control-label col-md-3">  Last Name </label>
                            <div class="col-md-7">
                                <input class="form-control" id="lastname" name="lastname" ng-model="form.ln" placeholder="Lastname" required="required" type="text" />
                                <span class="help-block" ng-show="theForm.lastname.$error.required && theForm.$submitted" style="color:red;"> Last name is required</span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="DOB" class="control-label col-md-3">  Date Of Birth </label>
                            <div class="col-md-7">
                                <input class="form-control" id="txtdateofbirth" name="dateofbirth" ng-model="form.dob" required="required" type="date" />
                                <span class="help-block" ng-show="theForm.dateofbirth.$error.required && theForm.$submitted" style="color:red;"> Date of Birth is required</span>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="Gender" class="control-label col-md-3">  Gender </label>
                            <div class="col-md-7">
                                <select class="form-control" id="gender1" ng-model="form.sex" name="sex">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                                <span class="help-block" ng-show="theForm.dateofbirth.$error.required && theForm.$submitted" style="color:red;"> Select your gender </span>
                            </div>
                        </div>


                        <div class="form-group required">
                            <label for="Instagram-Account" class="control-label col-md-3">  Instagram Account </label>
                            <div class="col-md-7">
                                <input class="form-control" id="Instagram-Account" name="Instagram-Account" ng-model="form.insta" required="required" type="text" />
                                <span class="help-block" ng-show="theForm.Instagram-Account.$error.required && theForm.$submitted" style="color:red;"> Instagram account is required</span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="Facebook-name" class="control-label col-md-3">  Facebook name </label>
                            <div class="col-md-7">
                                <input class="form-control" id="Facebook-name" name="Facebook-name" required="required" ng-model="form.fb" type="text" />
                                <span class="help-block" ng-show="theForm.Facebook-name.$error.required && theForm.$submitted" style="color:red;"> Facebook name is required</span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="Twitter-username" class="control-label col-md-3">  Twitter username </label>
                            <div class="col-md-7">
                                <input class="form-control" id="Twitter-username" name="Twitter-username" required="required" ng-model="form.tweet" type="text" />
                                <span class="help-block" ng-show="theForm.Twitter-username.$error.required && theForm.$submitted" style="color:red;"> Twitter username is required</span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="Snapchat-username" class="control-label col-md-3">  Snapchat username </label>
                            <div class="col-md-7">
                                <input class="form-control" id="Snapchat-username" name="Snapchat-username" required="required" ng-model="form.sc" type="text" />
                                <span class="help-block" ng-show="theForm.Snapchat-username.$error.required && theForm.$submitted" style="color:red;"> Snapchat username is required</span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="youtubechannel" class="control-label col-md-3">  Youtube Channel </label>
                            <div class="col-md-7">
                                <input class="form-control" id="youtubechannel" name="youtubechannel" required="required" ng-model="form.yc" type="text" />
                                <span class="help-block" ng-show="theForm.youtubechannel.$error.required && theForm.$submitted" style="color:red;"> Youtube channel is required</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="blog" class="control-label col-md-3">  Blog/Website </label>
                            <div class="col-md-7">
                                <input class="form-control" id="blog" name="blog" type="url" ng-model="form.blog" />
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="addr1" class="control-label col-md-3">  Address Line 1 </label>
                            <div class="col-md-7">
                                <input class="form-control" id="addr1" name="addr1" required="required" type="text" ng-model="form.addr1" />
                                <span class="help-block" ng-show="theForm.addr1.$error.required && theForm.$submitted" style="color:red;"> Address line 1 is required</span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="addr2" class="control-label col-md-3">  Address Line 2 </label>
                            <div class="col-md-7">
                                <input class="form-control" id="addr2" name="addr2" required="required" type="text" ng-model="form.addr2" />
                                <span class="help-block" ng-show="theForm.addr2.$error.required && theForm.$submitted" style="color:red;"> Address Line 2 is required</span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="country" class="control-label col-md-3">  Country </label>
                            <div class="col-md-7">
                                <select class="form-control" id="drpCountry" ng-model="form.selectCountry" ng-options="x for x in country_arr" data-ng-change="changeCountry()">
                                    <option value="">Select Country</option>
                                    <!-- <option ng-repeat="countryname in country"></option>-->

                                </select>
                            </div>

                        </div>
                        <div class="form-group required">
                            <label for="states" class="control-label col-md-3">  State </label>
                            <div class="col-md-7">
                                <select class="form-control" id="drpState" ng-model="form.selectCity" ng-options="x for x in s_a "> Select State
                                    <option value="">Select state</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="city" class="control-label col-md-3">  City </label>
                            <div class="col-md-7">

                                <input class="form-control" id="city" name="city" required="required" type="text" ng-model="form.city" />
                                <span class="help-block" ng-show="theForm.city.$error.required && theForm.$submitted" style="color:red;"> Address Line 2 is required</span>

                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="zip" class="control-label col-md-3">  Zip Code </label>
                            <div class="col-md-7">
                                <input class="form-control" id="zip" name="zip" required="required" type="text" ng-model="form.zip" />
                                <span class="help-block" ng-show="theForm.zip.$error.required && theForm.$submitted" style="color:red;"> Zip code is required </span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="phno" class="control-label col-md-3">  Mobile number </label>
                            <div class="col-md-7">
                                <input class="form-control" id="phno" name="phno" required="required" type="text" ng-model="form.phno" />
                                <span class="help-block" ng-show="theForm.phno.$error.required && theForm.$submitted" style="color:red;"> Phone number is required</span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label for="picture" class="control-label col-md-3">  Upload your picture </label>

                            <div class="col-md-7">
                                <img ng-if="image" src="{{image}}" alt="">
                                <input my-upload type="file" name="upload" ng-model="form.photo">
                                <span class="help-block" ng-show="theForm.upload.$error.required && theForm.$submitted" style="color:red;"> Please upload you picture </span>
                            </div>

                        </div>
                        <br />
                        <div class="form-group required">
                            <label for="categories" class="control-label col-md-3">  Categories of Interest </label>

                            <div class="col-md-7">

                                <label>
                                    <input type="checkbox" class="form-check-input">
                                    Fashion


                                </label>

                                <label>

                                    <input type="checkbox" class="form-check-input">
                                    Food
                                </label>

                                <label>

                                    <input type="checkbox" class="form-check-input">
                                    Sports
                                </label>

                                <label>

                                    <input type="checkbox" class="form-check-input">
                                    Electronic Gadgets
                                </label>

                                <label>

                                    <input type="checkbox" class="form-check-input">
                                    Lifestyle
                                </label>

                                <label>

                                    <input type="checkbox" class="form-check-input">
                                    Makeup
                                </label>


                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>





    <div class="navbar navbar-inverse navbar-static-bottom">
        <div class="container">
            <div class="navbar-text pull-left">
                <p> Copyright Statusphere</p>
            </div>
            <div class="navbar-text pull-right">
                <a href="https://www.facebook.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-facebook-official fa-3x" aria-hidden="false"></i></a>
                <a href="https://twitter.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-twitter fa-3x" aria-hidden="false"></i></a>
                <a href="https://www.instagram.com/statusphere/?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-instagram fa-3x" aria-hidden="false"></i></a>
            </div>

        </div>
    </div>


    <script>
        var app = angular.module("appProfile", []);
        app.controller('ctrlProfile', function ($scope, $http,$window) {

          /*  for (var i = 0; i < country_arr.length; i++)
            {
                $scope.country_name = country_arr[i];
            }
            for (var j = 0; j < s_a.length; j++) {
                $scope.state_name = s_a[i];
            }
            */
            $scope.country_arr = $window.country_arr;
            $scope.s_a = [];
            $scope.changeCountry = function () {
                var key = $scope.country_arr.indexOf($scope.country_arr);
                var state_options = $window.s_a[key];
                $scope.s_a = state_options;
                };
            $scope.form = {


                submit: function () {
                    if ($scope.form.$invalid)
                        return false;
                    else {
                        /*  var data = $.param({
                              applicant: JSON.stringify({
                                  username: $scope.name,
                                  email: $scope.email,
                                  password: $scope.password,
  
                              })
                          }); */
                        alert("success");
                        /* $http.post("/", data).success(function (response) {
                             console.log('Data posted successfully');
                             alert(response);  
                             
                         }); */
                        window.location.href = "http://localhost:57257/Startup.html";
                    }
                }
            };


        });
        app.directive('myUpload', [function () {
            return {
                restrict: 'A',
                link: function (scope, elem, attrs) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        scope.image = e.target.result;
                        scope.$apply();
                    }

                    elem.on('change', function () {
                        reader.readAsDataURL(elem[0].files[0]);
                    });
                }
            };
        }]);
    </script>
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>



</html>
