<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="css/Style4.css" type="text/css" />
    <script src="js/angular.min.js"></script>
    <script src="js/countries.js"></script>
    <script src="js/Upload.js"></script>
</head>
<body ng-app="myapp" ng-controller="myctrl">
    <form name="theForm" ng-submit="onsubmit(theForm.$valid)" novalidate="novalidate">
        <fieldset class="personal_info">
            <legend> Personal Info </legend>
            
            <p>
                <label for="first_name"> First name:</label>
                <input type="text" name="firstname" ng-model="Form.firstname" id="first_name" required="required" />
            </p>
                <br />

            <p>
                <label for="last_name"> Last name:</label>
                <input type="text" name="lastname" ng-model="Form.lastname" id="last_name" required="required" />
            </p>
            <br />

            <p>
                <label for="instagram_name"> Instagram Account:</label>
                <input type="text" name="instagram_name" ng-model="Form.instname" id="instagram_name" required="required" />
            </p>
            <br />
            <p>
                <label for="fb_name"> Facebook username:</label>
                <input type="text" name="fbname" ng-model="Form.fbname" id="fbname" required="required" />
            </p>
            <br />
            <p>
                <label for="twitter_name"> Twitter username:</label>
                <input type="text" name="twitter_name" ng-model="Form.twitter_name" id="twitter_name" required="required" />
            </p>
            <br />
            <p>
                <label for="sn_name"> Snapchat username:</label>
                <input type="text" name="sn_name" ng-model="Form.sn_name" id="sn_name" required="required" />
            </p>
            <br />

            <p>
                <label for="yt_channel"> Youtube channel:</label>
                <input type="text" name="yt_channel" ng-model="Form.yt_channel" id="yt_channel" required="required" />
            </p>
            <br />
            <p>
                <label for="blog"> Blog/Website:</label>
                <input type="url" name="blog" ng-model="Form.blog" id="blog" required="required" />
            </p>
            <br />
                <p>
                    <label for="addr1"> Address line 1:</label>
                    <input type="text" name="addr1" ng-model="Form.addr1" id="addr1" required="required" />
                </p>
                <br />
                <p>
                    <label for="addr2"> Address line 2:</label>
                    <input type="text" name="addr2" ng-model="Form.addr2" id="addr2" required="required" />
                </p>
                <br />
                <p>
                    <label for="num"> Contact number:</label>
                    <input type="number" name="num" ng-model="Form.num" id="num" required="required" />
                </p>
                <br />
                <p>
                    <label for="code"> Zip Code:</label>
                    <input type="text" name="code" ng-model="Form.code" id="code" required="required" />
                </p>
            <br />
        </fieldset>
    </form>
    <img ng-if="image" src="{{image}}" alt="">
    <form action="">
        <input my-upload type="file" name="upload">
    </form>
    
    <script>
        
        angular.module('myApp', []).

        controller('myctrl', ['$scope', function (scope) {
            scope.image = "";
        }]).

        directive('myUpload', [function () {
            return {
                restrict: 'A',
                link: function (scope, elem, attrs) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        scope.image = e.target.result;
                        scope.$apply();
                    }

                    elem.on('change', function () {
                        reader.readAsDataURL(elem[0].files[0]);
                    });
                }
            };
        }]);
    </script>
</body>
</html>
