<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/Stylenew3.css" />
    <script src="\js\angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />

    </head>
<body ng-app="myapp" ng-controller="myctrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/Statusphere-logo.png" height="100" width="250">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <a href="#"> Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title"> Signup </h1>
                    </div>
                    <div class="panel-body">
                        <form name="theForm" novalidate="novalidate" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="name">UserName:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" ng-model="formModel.name" id="name" name="text" required="required" ng-unique="{key: 'users', property: 'username'}" ng-minlength="3" ng-maxlength="25" />
                                </div>
                                <div class="col-md-4">
                                    <span style="color:red;" id="s1" class="help-block" ng-show="(theForm.text.$error.required && theForm.$submitted)">Username is required</span>
                                    <span style="color:red;" id="s1" class="help-block" ng-show="(!theForm.text.$pristine && theForm.text.$error.minlength)"> Username too short</span>
                                    <span style="color:red;" id="s1" class="help-block" ng-show="(!theForm.text.$pristine && theForm.text.$error.maxlength)"> Username too long</span>
                                    <span style="color:red;" id="s1" class="help-block" ng-show="theForm.text.$error.unique && theForm.$submitted"> Username is already taken</span>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-2" for="email">Email:</label>
                                <div class="col-md-6">

                                    <input type="email" class="form-control" ng-model="formModel.email" id="email" name="email" required="required" />
                                </div>
                                <div class="col-md-4">
                                    <span style="color:red;" class="help-block" ng-show="theForm.email.$error.required && theForm.$submitted">Email is required</span>
                                    <span style="color:red;" class="help-block" ng-show="!theForm.email.$pristine && theForm.email.$error.email"> please enter valid email</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="password">Password:</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" ng-model="formModel.password" id="password" name="password" required="required" ng-pattern="/(?=^.{8,20}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" />
                                </div>
                                <div class="col-md-4">
                                    <span style="color:red;" class="help-block" ng-show="theForm.password.$error.required && theForm.$submitted">Password is required </span>
                                    <span style="color:red;" class="help-block" ng-show="!theForm.password.$pristine && theForm.password.$error.pattern">the password must be alphanumeric, with atleast one lower, upper case letter, one special character (!@#$%^&*) & length should be 8-20</span>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-2" for="retype-password">Confirm Password:</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" ng-model="formModel.password1" id="retype-password" name="password1" required="required" />
                                </div>
                                <div class="col-md-4">
                                    <span style="color:red;" class="help-block" ng-show="theForm.password1.$error.required && theForm.$submitted">Password confirmation is required</span>
                                    <span style="color:red;" class="help-block" ng-show="(!theForm.password1.$pristine && $theForm.password.$error.required && !theForm.password1.$error.required) || (!theForm.password1.$pristine && theForm.password.$viewValue!==theForm.password1.$viewValue) || (!theForm.password1.$pristine && !theForm.password.$error.required && theForm.password1.$error.required)"> Password Mismatch</span>

                                </div>

                            </div>
                            <div class="col-md-6 text-center">
                                <button type="submit" class="btn btn-primary" onclick="onsubmit($valid)" id="button" /> Submit
                            </div>
                            <div class="col-md-6 text-left">

                                <button id="button1" type="reset" class="btn btn-primary" ng-click="reset(theForm)" />
                                Clear

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div class="navbar navbar-inverse navbar-static-bottom">
        <div class="container">
            <div class="navbar-text pull-left">
                <p> Copyright Statusphere</p>
            </div>
            <div class="navbar-text pull-right">
                <a href="https://www.facebook.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-facebook-official fa-3x" aria-hidden="false"></i></a>
                <a href="https://twitter.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-twitter fa-3x" aria-hidden="false"></i></a>
                <a href="https://www.instagram.com/statusphere/?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-instagram fa-3x" aria-hidden="false"></i></a>
            </div>

        </div>
    </div>

        
    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl", function ($scope, $http) {


            $scope.onsubmit = function (valid) {

                $http.post("    ", $scope.formModel).success(function (data) {
                    console.log(":) ")
                }).error(function (data) {
                    console.log(":( ")
                });
            };




            $scope.reset = function (theForm) {
                $scope.master = {};
                theForm.$setPristine();

            };


        });
 </script>
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
