<!DOCTYPE html>
<html>
<head>
    <title>Sign up </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="\css\Style3.css" />
    <script src="\js\angular.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="myctrl">
    <div class="container">
        <form name="theForm" ng-submit="onsubmit(theForm.$valid)" novalidate="novalidate">
            <div class="form-group">
                <label for="name">UserName:</label><br />
                <input type="text" class="form-control" ng-model="formModel.name" id="name" name="text" required="required" ng-unique="{key: 'users', property: 'username'}" ng-minlength="3" ng-maxlength="25" />
                <span class="help-block" ng-show="theForm.text.$error.required && theForm.$submitted">Username is required</span>
                <span class="help-block" ng-show="!theForm.text.$pristine && theForm.text.$error.minlength"> Username too short</span>
                <span class="help-block" ng-show="!theForm.text.$pristine && theForm.text.$error.maxlength"> Username too long</span>
                <span class="help-block" ng-show="theForm.text.$error.unique && theForm.$submitted"> Username is already taken</span>

            </div>

            <div class="form-group">

                <label for="email">Email:</label><br />
                <input type="email" class="form-control" ng-model="formModel.email" id="email" name="email" required="required" />
                <span class="help-block" ng-show="theForm.email.$error.required && theForm.$submitted">Email is required</span>
                <span class="help-block" ng-show="!theForm.email.$pristine && theForm.email.$error.email"> please enter valid email</span>

            </div>
            <div class="form-group">
                <label for="password">Password:</label><br />
                <input type="password" class="form-control" ng-model="formModel.password" id="password" name="password" required="required" ng-pattern="/(?=^.{8,20}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" />
                <span class="help-block" ng-show="theForm.password.$error.required && theForm.$submitted">Password is required </span>
                <span class="help-block" ng-show="!theForm.password.$error.required && theForm.password.$error.pattern">the password must be alphanumeric, with atleast one lower, upper case letter, one special character (!@#$%^&*) & length should be 8-20</span>
                <div class="form-group">
                    <label for="retype-password">Confirm Password:</label><br />
                    <input type="password" class="form-control" ng-model="formModel.password1" id="password1" name="password1" required="required" ng-pattern="/(?=^.{8,20}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" />
                    <span class="help-block" ng-show="theForm.password1.$error.required && theForm.$submitted">Password confirmation is required</span>
                    <span class="help-block" ng-show="(theForm.password.$error.required && !theForm.password1.$error.required) || (theForm.password.$viewValue!==theForm.password1.$viewValue) || (!theForm.password.$error.required && theForm.password1.$error.required)"> Password Mismatch</span>


                </div>
                <button type="submit" class="form-control" id="button" /> Submit
                <button id="button1" type="reset" ng-click="reset()">
                    Clear
                </button>

            </div>

        </form>

    </div>

    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl", function ($scope, $http) {


            $scope.onsubmit = function (valid) {

                $http.post("    ", $scope.formModel).success(function (data) {
                    console.log(":) ")
                }).error(function (data) {
                    console.log(":( ")
                });
            };


            $scope.reset = function () {
                $scope.theForm = {};

            };




        });


    </script>

</body>
</html>
