<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/Style1.css" />
    <script src="\js\angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
</head>
<body ng-app="Startup" ng-controller="myctrl">



    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/Statusphere-logo.png" style="width:100%;" />
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <a href="#"> Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mycarousel" data-slide-to="1"></li>
                <li data-target="#mycarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/f6ccfe7d97e709cdf0eef0556590ce7a.jpg" id="center"/>

                </div>
                <div class="item">
                    <img src="images/e1973a38300083.575c7d143f7f1.jpg" id="center"/>

                </div>
                <div class="item">
                    <img src="images/top-cosmetic-and-beauty-products_z15jqr.jpg" id="center"/>

                </div>
                <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <a href="#" class="thumbnail">
                    <img src="images/StatusBox.jpg" />
                </a>
                <p class="well">Statusphere was created by social influencers that were tired of receiving emails from brands pitching crappy products. Because of this, each product is vetted and tested to ensure quality. We complete a full review of each Statusphere product on our site that you will be able to review before selecting it to be in your StatusBox.</p>
            </div>
            <div class="col-md-offset-1 col-md-3">

                <h4><strong><p id="p1"> Existing Users ? </p> </strong></h4>
                <div class="centered">
                    <button class="btn btn-primary" ng-click="login()">Login</button>
                    </div>
                    
                    <h4><strong><p id="p1"> New to Statusphere ?</p> </strong></h4>
                    <div class="centered">
                        <button class="btn btn-primary" ng-click="register()">Signup</button>
                    </div>
                    
                    <h4><p id="p1">--OR--</p></h4>
                    

                    <div class="social-wrap a">
                        <button id="facebook">Sign up with Facebook</button>
                        <button id="twitter">Sign up with Twitter</button>
                        <button id="googleplus">Sign up with Google</button>
                        <button id="instagram">Sign up with Instagram</button>
                    </div>
                </div>
        </div>

    </div>
    <div class="navbar navbar-inverse navbar-static-bottom">
        <div class="container">
            <div class="navbar-text pull-left">
                <p> Copyright Statusphere</p>
            </div>
            <div class="navbar-text pull-right">
                <a href="https://www.facebook.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-facebook-official fa-3x" aria-hidden="false"></i></a>
                <a href="https://twitter.com/joinstatus?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-twitter fa-3x" aria-hidden="false"></i></a>
                <a href="https://www.instagram.com/statusphere/?__hstc=234261505.a570f2de9aba4c2c3b40da55326aa261.1487100475248.1489899396079.1489935179421.18&__hssc=234261505.1.1489935179421&__hsfp=290129038">   <i class="fa fa-instagram fa-3x" aria-hidden="false"></i></a>
            </div>

        </div>
    </div>

    <script>

        var app = angular.module('Startup', []);
        app.controller("myctrl", function ($scope) {

            $scope.login = function () {
                window.location = "login.html";
            }
            $scope.register = function () {
                window.location = "signup.html";
            }
        });

    </script>



    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
