
h1{
    
    text-align:center;
}

input[type=text],[type=password],[type=email]{
    
         
   
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-style:normal;
    font-size:medium;
cursor: pointer;
}
button[type=submit]
        {
    
    cursor: pointer;
        }

.panel-body {
    background: #ADD8E6	;
}
