
        
        .container{
                
            position: absolute;
        top: 50%;
        left: 50%;
        right:100%;
        
        margin-right: -50%;
        transform: translate(-50%,-50%);
    border-radius: 5px;
    background-color: #f2f2f2;
    
    padding: 20px;

        }
        
input[type=text],[type=password]{
    
            width: 50%;
    padding: 10px 5px;
    margin: 16px 16px;
    margin-left:0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-style:normal;
    font-size:medium;
}
button[type=submit]
        {
            
            width: 20%;
    background-color: red;
    color: white;
    padding: 14px 14px;
    margin: 8px 0;
    margin-left:125px;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
        }
#link{
    position: relative;
        
        left: 105%;
        margin-right: -50%;
  transform: translate(-50%, -50%);
} 
 


   
   